.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    position: relative;
}
  
.card-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    width: 340px; 
    height: 920px;
    text-align: center;
    position: relative; 
    overflow-y: hidden; 
    display: flex;
    flex-direction: column; 
}
  
  .card {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: 8px;
  }
  